#viewport-container {
	flex-grow: 1;
}

#viewport {
	flex-grow: 1;
}

#viewport-stats {
	position: absolute;
	left: 10px;
	top: 10px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 0px;
	padding: 4px;
}

#viewport-stats Label {
	color: #ffffff;
	font-size: 13px;
	-unity-font-style: bold;
}

#uv-window {
	position: absolute;
	left: 10px;
	bottom: 10px;
}

#uv-image {
}

Toolbar {
	height: 22px;
}

.row {
	flex-direction: row;
}

.row__label {
	width: 80px;
}